<%= simple_form_for [@patient, @visit] do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>
    Last Visit: <%= @patient.last_visit_date %>
  </h3>

  <table width="100%">
    <tr>
      <td width="50%" style="vertical-align: top; padding-top: 20px;">
        <div class="input string optional visit_physician">
          <label for="visit_physician" class="string optional control-label">Select Physicians</label>
          <%= f.collection_select :physician_ids, Physician.all, :id, :fullname_with_physician_number, { selected: @visit.physician_ids, include_blank: false }, { multiple: true } %>
        </div>

        <%#= f.hidden_field :physician_id %>
        <%#= f.input :visitdate, as: :string, hint: '(YYYY/MM/DD)', wrapper_html: { class: 'datepicker-swrapper' } %>
        <%= f.hidden_field :visitdate %>
        <br style="clear:left;" /><br />
        <%= f.input :payment_program, collection: [["HCP", "HCP"],["RMB", "RMB"],  ["WSIB", "WSIB"], ["Paid Patient", "Paid Patient"], ["Bill Patient", "Bill Patient"], ["IFH", "IFH"], ["Clinical Trials", "Clinical Trials"]], include_blank: false %>

          <%= f.input :amount %>
        <%= f.input :specimen_priority, collection: [["Routine", "Routine"],["Stat", "Stat"]], include_blank: false %>
      </td>
      <td width="50%">
        <div id="patient-details" style="margin: 0 10px;">
          <a id="edit-patient-link" href="javascript:void(0);" style="float: right;">Edit patient</a>
          <div id="patient_summary" >
            <%= render partial: 'patients/patient_summary', locals: { patient: @patient } %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="test_groups" title="SELECT TESTS">
          <h2 style="margin-left: 20px;">SELECT TESTS</h2>

          <div class="input string optional visit_tests" style="padding-left: 20px;">
            <%= f.collection_select :test_ids1, Test.order("tests.position ASC"), :id, :test_name, { selected: false, include_blank: true, prompt: "Search tests..." } %>
          </div>
          
          <div class="clear">
            <br />
          </div>
          
          <% @test_groups.each_with_index do |test_group, index| %>

            <div class="test-groups" style="float: left; margin-left: 20px; border: solid 1px #ccc; ">
              <h4><%= test_group.name %></h4>
              <div id="tests_check_boxes" class="test-group" >
                <%= f.collection_check_boxes(:test_ids, test_group.tests.order("tests.position ASC"), :id, :test_name) do |b| %>
                  <% b.label(:"data-value" => b.object.id, class: (b.object.visible?(@visit.test_ids) ? "show" : "hide") ) { b.check_box + ' ' + b.text } %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
  </table>


  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $("#physician_name").autocomplete({
      source: "/physicians.json",
      select: function(event, ui){
        $('#visit_physician_id').val(ui.item.val);
      }
    });
  });
</script>

<div id="dialog-patient-edit" style="display: none;" title="EDIT PATIENT">
  <div id="patient-edit-form">
    <%= render 'patients/form' %>
  </div>
</div>
