<h1>Patients</h1>
<%= form_tag visits_path, :method => 'get', :id => "search_form" do %>
  <p>
    <%= text_field_tag :healthcard, params[:healthcard], :class => 'text' %>
    <%= submit_tag "Search", :name => nil %>&nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp; <%= link_to 'Add Patient', new_patient_path %>
  </p>
<% end %>
<i>To search patient, type name OR type Health card and Press Search.</i><br />
<i>To swipe card, first clear search text box and swipe card.</i>
<br />  
<h2>Total Visits: <%= @visits.count %></h2>
<table width="100%">
  <tr>
    <th>Location</th>
    <th>OHIP</th>
    <th>Health Expiry</th>
    <th>Lastname</th>
    <th>Firstname</th>

    <th>Birthdate</th>
    <th>Address</th>
    <th>Physician <small>(<u>click to print label</u>)</small></th>
    <th>Visited on</th>
    <th></th>
    <th colspan="2"></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.location.name %></td>
    <td><%= visit.patient.healthnumber %>&nbsp;<%= visit.patient.version_code %></td>
    <td><%= visit.patient.health_expiry_date.nil? ? '' : visit.patient.health_expiry_date.to_formatted_s(:long) %></td>
    <td><%= visit.patient.lastname %></td>
    <td><%= visit.patient.firstname %> &nbsp;<%= visit.patient.middlename %></td>

    <td><%= visit.patient.birthdate.nil? ? '' : visit.patient.birthdate.to_formatted_s(:long) %></td>
    <td>
      <%= visit.patient.address1 %>,
      <%= visit.patient.address2 %>,
      <%= visit.patient.city %>,
      <%= visit.patient.province %>,
      <%= visit.patient.postal_code %>
      <%= visit.patient.home_phone %>(H),
      <%= visit.patient.mobile %>(M)
    </td>
    <td>
      <% visit.physicians.each do |physician| %>
        <%= print_physician_label_link(visit, physician) %><br />
      <% end %>
    </td>
    <td>
      <%= visit.visitdate.nil? ? '' : visit.visitdate.to_formatted_s(:long) %>
    </td>
    <td><%= link_to 'Show', patient_path(visit.patient) %></td>
    <td class="text-center"><%= link_to 'Add New Visit', new_patient_visit_path(visit.patient) %>
</td>
    <td class="text-center">
      <%= link_to 'Edit', edit_patient_visit_path(visit.patient, visit) if can?(:update, visit) %><%= " | " if can?(:destroy, visit) %><%= destroy_link(visit) %>
    </td>

  </tr>
<% end %>
</table>
<br />
<%= will_paginate @visits %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#search').focus();
  });
</script>
