<h1>Physicians</h1>
<%= form_tag physicians_path, :method => 'get', :id => 'patients_search' do %>
  <p>
    <%= text_field_tag :term, params[:term], :class => 'text' %>
    <%= submit_tag "Search", :name => nil %>&nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp; <%= link_to 'Add New Physician', new_physician_path %>
  </p>
<% end %>

<br />
<h2>Total Physicians: <%= @physicians.size %></h2>
<table>
  <tr>
    <th>Physician number</th>
    <th>Firstname</th>
    <th>Middlename</th>
    <th>Lastname</th>
    <th>CPSO</th>
    <th>Address</th>
    <th colspan="4"></th>
  </tr>

<% @physicians.each do |physician| %>
  <tr>
    <td><%= physician.physician_number %></td>
    <td><%= physician.firstname %></td>
    <td><%= physician.middlename %></td>
    <td><%= physician.lastname %></td>
    <td><%= physician.cpso %></td>
    <td>
      Loc#<%= physician.location %>
      <%= physician.address1 %> ,
      <%= physician.address2 %>,
      <%= physician.city %>,
      <%= physician.province %>,
      <%= physician.postal_code %>,
      <%= physician.phone %>,
      <%= physician.fax %>,
      <%= physician.emergency_number %>
      <%= physician.email %>,

    </td>
    <td><%= link_to 'Show', physician %></td>
    <td><%= link_to 'Edit', edit_physician_path(physician) %></td>

    <td><%= destroy_link physician %></td>
<td>
<a href="javascript:void(0);" PhysicianNumber="<%= physician.physician_number %>" FirstName="<%= physician.firstname %>" LastName="<%= physician.lastname %>"  address1="<%= physician.address1 %>" address2"<%= physician.address2 %>" city="<%= physician.city  %>" province="<%= physician.province %>" postalcode="<%= physician.postal_code %>" CPSO="<%= physician.cpso %>"
phone="<%= physician.phone %>" FAX="<%= physician.fax %>" class="print-physician-label-link">Print Label</a>
</td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @physicians %>
