<tr class="<%= token_state_bgcolor(token) %>">
  <td><%= token.no %></td>
  <td><%= token.patient.healthnumber %></td>
  <td><%= token.patient.lastname %> <%= token.patient.firstname %> </td>
  <td><%= token.created_at.to_formatted_s(:long) %></td>
  <td>
    <%= token.state.gsub('_', ' ').capitalize %>
    <% if token.visit_registered? || token.completed? %>
      <% visit = token.patient.visits.order("created_at DESC").first %>
      <br />
      <% visit.physicians.each do |physician| %>
        <small><%= print_physician_label_link(visit, physician, "Print ") %></small><br />
      <% end %>
    <% end %>
  </td>
  <td class="text-center"><%= next_state_link(token) %>
  <%= token.discard_msg if token.discarded? %>
  </td>
  <td class="text-center"><%= link_to "Print Token", "#{AppConfig.print_token_url}#{token.no}/#{token.patient.healthnumber}", target: "_BLANK" %></td>
  <td class="last"><small><%= link_to 'Punch In(s)', token %></small><%= " | " if can?(:destroy, token) %>
  <small><%= destroy_link token %></small></td>
</tr>
