<tr class="<%= token_state_bgcolor(token) %>">
  <td><%= token.no %></td>
  <td><%= token.patient.healthnumber %></td>
  <td><%= token.patient.lastname %> <%= token.patient.firstname %> </td>
  <td><%= token.created_at.to_formatted_s(:long) %></td>
  <td>
    <%= token.state.gsub('_', ' ').capitalize %>
    <% if token.visit_registered? || token.completed? %>
      <% visit = token.patient.visits.order("created_at DESC").first %>
      &nbsp;<a href="javascript:void(0);" healthNumber="<%= token.patient.healthnumber + ' ' + token.patient.version_code %>" expiry="<%= token.patient.health_expiry_date.nil? ? '' : token.patient.health_expiry_date.to_formatted_s(:db) %>" birthdate="<%= token.patient.birthdate.nil? ? '' : token.patient.birthdate.to_formatted_s(:db) %>" sex="<%= token.patient.gender %>" address1="<%= token.patient.address1 %>" address2="<%= token.patient.address2 %>" homephone="<%= token.patient.home_phone %>" mobile="<%= token.patient.mobile %>"  patientName="<%= "#{token.patient.lastname} , #{token.patient.firstname} #{token.patient.middlename}" %>" physician="<%= visit.physicians.map(&:firstname_last_name_with_physician_number).join(", ") %>" visiteddate="<%= visit.visitdate.nil? ? "" : visit.visitdate.strftime(" %m/%d/%Y") %>" city="<%= token.patient.city %>" province="<%= token.patient.province %>" postalcode="<%= token.patient.postal_code %>" class="print-label-link">Print Label</a>
    <% end %>
  </td>
  <td class="text-center"><%= next_state_link(token) %>
  <%= token.token_histories.last.comment if token.discarded? %>
  </td>
  <td class="text-center"><%= link_to "Print Token", "#{AppConfig.print_token_url}#{token.no}/#{token.patient.healthnumber}", target: "_BLANK" %></td>
  <td class="last"><small><%= link_to 'Punch In(s)', token %></small> |
  <small><%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' } %></small></td>
</tr>
