<tr class="<%= token_state_bgcolor(token) %>">
  <td><%= token.no %></td>
  <td><%= token.patient.healthnumber %></td>
  <td>
    <%= link_to token.patient.patient_full_name , patient_path(token.patient) %> </td>
  <td><%= token.created_at.to_formatted_s(:long) %></td>
  <td>
    <%= token.state.gsub('_', ' ').capitalize %>
    <% if token.visit_registered? || token.completed? %>
      <% visit = token.patient.visits.order("created_at DESC").first %>
      <br />
    <% end %>
    
  </td>
  
  <td class="text-center">
    <%= next_state_link(token, current_location) %>
    <%= token.discard_msg if token.discarded? %>
  </td>
  <td>
  <% if token.visit_registered? || token.completed? %>     
      
      <% token.patient.last_visit.physicians.each do |physician| %>
        <small><%= print_physician_label_link(token.patient.last_visit, physician) %><br /></small>
      <% end %>
    <% end %>
  </td>
  <td class="last">
    <small><%= link_to 'Punch In(s)', [current_location, token] %></small><%= " | " if can?(:destroy, token) %>
    <small><%= destroy_link [current_location, token] %></small>
  </td>
  
</tr>
