<h1>Listing tokens</h1> 
<%= form_for Token.new do %>
  <p>
    Enter Health#/Swipe Card: <%= text_field_tag :healthcard, params[:healthcard], :class => 'text' %>
    <%= submit_tag "Generate Token", :name => nil %>
  </p>
  <br />
  <i>To generate token for patient, type Health # and Generate Token.</i><br />
  <i>To swipe card, first clear search text box and swipe card.</i>
  <br />
<% end %>

<br />
<table class="tokens-table">
  <thead>
    <tr>
      <th>Token #</th>
      <th>Time in</th>
      <th>Current state</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr class="<%= token.state %>">
        <td><%= token.no %></td>
        <td><%= token.created_at.to_formatted_s(:long) %></td>
        <td><%= token.state %></td>
        <td><%= next_state_link(token) %></td>
        <td><%= link_to 'View Punch In(s)', token %></td>
        <td><%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
