<h1>Listing tokens</h1>
<div>
  <div style="float: left; width: 50%;">
  <%= form_for Token.new do %>
      Enter Health#/Swipe Card: <%= text_field_tag :healthcard, params[:healthcard], :class => 'text' %>
      <%= submit_tag "Generate Token", :name => nil %>
      <br />
      <i>To generate token for patient, type Health # and Generate Token.</i><br />
      <i>To swipe card, first clear search text box and swipe card.</i>
      <br />
  <% end %>
  <hr />
  </div>
  <fieldset class="with-border" style="width: 40%; float: right">
    <legend>Filter tokens: </legend>
    <%= form_tag tokens_path, method: :get, id: 'filter_token', remote: true do %>
      <div class="field">
        Token type: <%= select_tag :state, options_for_select([["All", "all"], ["Time in", "time_in"], ["Visit registered", "visit_registered"], ["Completed", "completed"], ["Discarded", "discarded"]], params[:state].nil? ? "all" : params[:state]) %>
      </div>
      <div class="field">
        Select Date: <%= select_date filter_date(:start_date).to_date, prefix: :start_date  %>
      </div>
      <div style="border-top: solid 1px #ccc; padding-top: 10px; margin-top: 10px; text-align: left;">
        <%= submit_tag "Filter tokens", :name => nil %> | <%= link_to "Reset", tokens_path %>
        <span style="float: right;"><%= link_to "Display today's tokens", tokens_path(startdate: { year: Date.today.year, month: Date.today.month, day: Date.today.day }) %></span>
      </div>
    <% end %>

  </fieldset>
  <div style="clear: both;"></div>
  <br />
  <h6 style="color: #102077;"><%= filter_title %></h6>
  <br />  
  <table class="tokens-table" width="100%">
    <thead>
      <tr>
        <th>Token #</th>
        <th>OHIP</th>
        <th>Name</th>
        <th>Time in</th>
        <th>Current state</th>
        <th></th>
        <th></th>
        <th class="last"></th>
      </tr>
    </thead>
    <tbody id="tokens-table-body">
      <%= render partial: 'tokens' %>
    </tbody>
  </table>
</div>
