<h1>Token #: <%= @token.no %> <span class="<%= @token.state %>">(<%= @token.state.gsub('_', ' ').capitalize %>)</span></h1>
<p>
  <strong>Patient:</strong>
  <%= @token.patient.fullname_with_health_insurance_number %> <%= @token.patient.version_code %>
</p>
<br />
<%= next_state_link(@token, current_location) %>
<br />
<br />
<hr />

<h1>Token Punch In(s):</h1>

<table>
  <thead>
    <tr>
      <th>Token #</th>
      <th>Punch in time</th>
      <th>Note</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @token.token_histories.each do |token_history| %>
      <tr>
        <td><%= token_history.token_id %></td>
        <td><%= token_history.punch_in_time.to_formatted_s(:long) %></td>
        <td><%= token_history.note %></td>
        <td><%= token_history.comment %></td>
        <td><%= destroy_link [current_location, @token, token_history] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
