<h1>Token #: <%= @token.no %></h1> 
<p>
  <strong>Patient:</strong>
  <%= @token.patient.fullname_with_health_insurance_number %>
</p>
<br />
<%= next_state_link(@token) %>
<br /><br />
<hr />

<h1>Token Punch In(s):</h1>

<table>
  <thead>
    <tr>
      <th>Token #</th>
      <th>Punch in time</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @token.token_histories.each do |token_history| %>
      <tr>
        <td><%= token_history.token_id %></td>
        <td><%= token_history.punch_in_time.to_formatted_s(:long) %></td>
        <td><%= token_history.note %></td>
        <td><%= link_to 'Destroy', [@token, token_history], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
