<%= simple_form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :healthnumber %>
  <%= f.input :version_code %>
  <%= f.input :health_expiry_date, :as => :date, :start_year => Date.today.year, :end_year => Date.today.year + 100 %>
  <%= f.input :lastname, required: false %>
  <%= f.input :firstname, required: false %>
  <%= f.input :middlename %>
  <%= f.input :gender do %>    
    <%= f.collection_radio_buttons :gender, [['M','Male'] ,['F', 'Female']], :first, :last %>
  <% end %>
  <%= f.input :birthdate , :as => :date, :start_year => Date.today.year, :end_year => Date.today.year - 100 %>
  <%= f.input :address1 %>
  <%= f.input :address2 %>
  <%= f.input :city %>
  <%= f.input :province %>
  <%= f.input :postal_code %>
  <%= f.input :home_phone %>
  <%= f.input :mobile %>
  <% if @patient.new_record? %>
    <%= f.input :physicians do %>
      <%= f.collection_select :physician_ids, Physician.all, :id, :fullname_with_physician_number, :prompt => "Select a Physician" %>
    <% end %>
  <% end %>
  <%= f.button :submit %>
<% end %>
