<%= simple_form_for @patient, :class => 'patient_form' do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form-table">
    <tr>
      <td width="65%">
        <%= f.input :healthnumber %>
        <%= f.input :version_code %>
				<%= f.input :health_expiry_date, :as => :string, :input_html => { :id => 'hedpicker'}, :hint => '(YYYY/MM/DD)', :wrapper_html => { :class => 'datepicker-swrapper'}  %>
        <%= f.input :lastname %>
        <%= f.input :firstname %>
        <%= f.input :middlename %>
        <%= f.input :gender do %>
          <%= f.collection_radio_buttons :gender, [['M','Male'] ,['F', 'Female']], :first, :last, :class => 'radio-collection' %>
        <% end %>
        <%= f.input :birthdate , :as => :string, :input_html => { :id => 'birthdaypicker' }, :hint => '(YYYY/MM/DD)', :wrapper_html => { :class => 'datepicker-swrapper'}  %>
        <%= f.input :address1 %>
        <%= f.input :address2 %>
        <%= f.input :city %>
        <%= f.input :province %>
        <%= f.input :postal_code %>
        <%= f.input :home_phone %>
        <%= f.input :mobile %>
      </td>
      <td style="vertical-align: top; padding-left: 20px;">
        <div class="input string optional">
          <label for="patient_physician" class="string optional">Enter Physician</label>
          <%= text_field_tag :physician_id_text1 %>
          <%= hidden_field_tag :physician_id1 %>
        </div>
        <div class="input string optional datepicker-swrapper" style="width: 400px;">
          <label class="string optional">Visit date</label>
          <%= text_field_tag :visitdate %><span class="hint">(YYYY/MM/DD)</span>
        </div>
        <div class="input string optional" style="width: 400px;">
          <label class="string optional">Payment Program</label>
          <%= select_tag :payment_program, options_for_select([["HCP", "HCP"],["RMB", "RMB"],  ["WSIB", "WSIB"], ["Paid Patient", "Paid Patient"], ["Bill Patient", "Bill Patient"], ["IFH", "IFH"], ["Clinical Trials", "Clinical Trials"]], params[:payment_program].nil? ? "HCP" : params[:payment_program]) %>
        </div>
        <br />
        <div class="input string optional" style="width: 400px;">
          <label class="string optional">Specimen Priority</label>
          <%= select_tag :specimen_priority, options_for_select([["Stat", "Stat"],["Routine", "Routine"]], params[:specimen_priority].nil? ? "Routine" : params[:specimen_priority]) %>
        </div>
        <br />
        <div id="test_groups" title="SELECT TESTS">
          <h3>SELECT TESTS</h3>
          <% @test_groups.sort.each do |group, tests| %>
            <div class="test-groups" >
              <h4><%= group %></h4>
              <ul class="test-group" >
                <% tests.each do |test| %>
                  <li><%= check_box_tag "test_ids[]", test.id, false, id: dom_id(test), data: { code: test.test_code, name: test.test_name } %> &nbsp;<%= label_tag dom_id(test), "#{test.test_name}-#{test.test_code}" %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
  </table>

  <%= f.button :submit %>
<% end %>
<script type="text/javascript">
  $(function(){
    $("#physician_id_text1").autocomplete({
      source: "/physicians.json",
      select: function(event, ui){
        $('#physician_id1').val(ui.item.val);
      }
    });
  });
</script>
