<h1>Listing patients</h1>
<%= form_tag patients_path, :method => 'get', :id => 'patients_search' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => 'text' %>
    <%= submit_tag "Search", :name => nil %>&nbsp;&nbsp;&nbsp; or &nbsp;&nbsp;&nbsp; <%= link_to 'Add New Patient', new_patient_path %>
  </p>
<% end %>

<br />
<table>
  <tr>
    <th>Patient Unique ID</th>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Health Insurance number</th>
    <th>Version Code</th>
    <th>Health Expiry Date</th>
    <th>Birthdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.patient_unique_id %></td>
    <td><%= patient.firstname %></td>
    <td><%= patient.middlename %></td>
    <td><%= patient.lastname %></td>
    <td><%= patient.health_insurance_number %></td>
    <td><%= patient.version_code %></td>
    <td><%= patient.health_expiry_date.nil? ? '' : patient.health_expiry_date.to_formatted_s(:long) %></td>
    <td><%= patient.birthdate.nil? ? '' : patient.birthdate.to_formatted_s(:long) %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<br />
<%= will_paginate @patients %>

