<fieldset class="f-set f-patient">
  <legend>Patient Info.</legend>
</fieldset>
<div id="patient-details">
  <h1 id="name" class="name">
    <%= @patient.firstname %>&nbsp;<%= @patient.middlename %>&nbsp;<%= @patient.lastname %>
    <ul>
      <li>OHIP: <%= @patient.healthnumber %>&nbsp;<%= @patient.version_code %></li>
      <li class="expire">Expires on: <%= @patient.health_expiry_date.nil? ? '' : @patient.health_expiry_date.to_formatted_s(:long) %></li>
    </ul>
  </h1>
  <h2 id="heading" class="heading">
    <%= @patient.gender == 'M' ? 'Male' : 'Female' %><br />
    Birthdate: <%= @patient.birthdate.nil? ? '' : @patient.birthdate.to_formatted_s(:long) %>
  </h2>
  <div class="address-details">
    <div class="address">
      <%= @patient.address1 %><br />
      <%= @patient.address2 %><br />
      <%= @patient.city %><br />
      <%= @patient.province %><br />
      <%= @patient.postal_code %><br />
    </div>
    <div class="contact">
      Home (Ph):&nbsp; <%= @patient.home_phone %><br />
      Mobile (Ph):&nbsp;<%= @patient.mobile %><br />
    </div>
    <div class="clear">
    </div>
  </div>
</div>
<h3 class="new-visit">Visits:
  <%= link_to '(Add Physician)', edit_patient_path(@patient) %></h3>
<table>
  <tr>
    <th>Physician number</th>
    <th> Phyisican Name </th>
    <th>Visited on</th>
    <th>Payment program</th>
    <th>Tests</th>
    <th></th>
  </tr>

<% @patient.visits.order("created_at DESC").each do |visit| %>
  <tr>
    <td><%= visit.physician.nil? ? '' : visit.physician.physician_number %></td>
    <td><%= visit.physician.nil? ? '': visit.physician.firstname + ' ' + visit.physician.lastname+ ' '+visit.physician.physician_number  %></td>
    <td><%= visit.visitdate.nil? ? '' : visit.visitdate.to_formatted_s(:long) %></td>
    <td><%= visit.payment_program %></td>
    <td>
      <% visit.tests.each_with_index do |test, index| %>
        <%= "#{test.test_code}" %><%= ", " unless visit.tests.size == (index + 1) %>
      <% end %>
    </td>
    <td><a href="javascript:void(0);" healthNumber="<%= visit.patient.healthnumber + ' ' + visit.patient.version_code %>" expiry="<%= visit.patient.health_expiry_date.nil? ? '' : visit.patient.health_expiry_date.to_formatted_s(:db) %>" birthdate="<%= visit.patient.birthdate.nil? ? '' : visit.patient.birthdate.to_formatted_s(:db) %>" sex="<%= visit.patient.gender %>" address1="<%= visit.patient.address1 %>" address2="<%= visit.patient.address2 %>" homephone="<%= visit.patient.home_phone %>" mobile="<%= visit.patient.mobile %>"  patientName="<%= visit.patient.lastname + ' , ' + visit.patient.firstname + ' ' + visit.patient.middlename %>" physician="<%= visit.physician.nil? ? '': visit.physician.firstname + ' ' + visit.physician.lastname+ ' - '+visit.physician.physician_number  %>" visiteddate="<%= visit.visitdate.nil? ? "" : visit.visitdate.strftime(" %m/%d/%Y") %>" city="<%= visit.patient.city %>" province="<%= visit.patient.province %>" postalcode="<%= visit.patient.postal_code %>" class="print-label-link">Print Label</a></td>
  </tr>
<% end %>
</table>
<br />
<br />
<%= link_to 'back', visits_path %>
