<fieldset class="f-set f-patient">
  <legend>Patient Info.</legend>
</fieldset>
<div id="patient-details">
  <h1 id="name" class="name">
    <%= @patient.firstname %>&nbsp;<%= @patient.middlename %>&nbsp;<%= @patient.lastname %>
    <ul>
      <li>OHIP: <%= @patient.healthnumber %>&nbsp;<%= @patient.version_code %></li>
      <li class="expire">Expires on: <%= @patient.health_expiry_date.nil? ? '' : @patient.health_expiry_date.to_formatted_s(:long) %></li>
    </ul>
  </h1>
  <h2 id="heading" class="heading">
    <%= @patient.gender == 'M' ? 'Male' : 'Female' %><br />
    Birthdate: <%= @patient.birthdate.nil? ? '' : @patient.birthdate.to_formatted_s(:long) %>
  </h2>
  <div class="address-details">
    <div class="address">
      <%= @patient.address1 %><br />
      <%= @patient.address2 %><br />
      <%= @patient.city %><br />
      <%= @patient.province %><br />
      <%= @patient.postal_code %><br />
    </div>
    <div class="contact">
      Home (Ph):&nbsp; <%= @patient.home_phone %><br />
      Mobile (Ph):&nbsp;<%= @patient.mobile %><br />
    </div>
    <div class="clear">
    </div>
  </div>
</div>
<h3 class="new-visit">Visits:
  <%= link_to 'Add New Visit', new_patient_visit_path(@patient) %></h3>
<table>
  <tr>
  <th>Labnumber</th>
    <th>Physician number</th>
    <th> Phyisican Name <small>(<u>click to print label</u>)</small></th>
    <th>Visited on</th>
    <th>Payment program</th>
	  <th>Specimen Priority</th>
	  <th>Amount</th>
    <th>Tests</th>
  </tr>

<% @patient.visits.order("created_at DESC").each do |visit| %>
  <tr>
  <td><%= visit.lab_number %></td>
    <td><%= visit.physicians.map(&:physician_number).join(", ") %></td>
    <td>
      <% visit.physicians.each do |physician| %>
        <%= print_physician_label_link(visit, physician) %><br />
      <% end %>
    </td>
    <td><%= visit.visitdate.nil? ? '' : visit.visitdate.to_formatted_s(:long) %></td>
    <td><%= visit.payment_program %></td>
	  <td><%= visit.specimen_priority %></td>
	  <td><%= visit.amount %></td>
    <td>
      <% visit.tests.each_with_index do |test, index| %>
        <%= "#{test.test_code}" %><%= ", " unless visit.tests.size == (index + 1) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />
<br />
<%= link_to 'back', visits_path %>
