<%= simple_form_for [@token, @token_history] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :note %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <% if params[:note] == "discarded" %>
      <%= f.button :submit, "Discard token" %>
    <% else %>
      <%= f.button :submit %>
    <% end %>
  </div>
<% end %>
