<h1 style="float: left;">Listing tests&nbsp;&nbsp;<span style="font-size: 13px;"><%= link_to 'Add new Test', new_test_path %></span></h1>

<div class="clear"></div>

<table>
  <thead>
    <tr>
      <th>Loinc</th>
      <th>Test group</th>
      <th>Test code</th>
      <th>Test name</th>
      <th>Specimen source</th>
      <th>Group Position</th>
      <th>Position</th>
      <th>Visible in List</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.loinc %></td>
        <td><%= test.test_group.name %></td>
        <td class="text-center"><%= test.test_code %></td>
        <td><%= test.test_name %></td>
        <td class="text-center"><%= test.specimen_source %></td>
        <td class="text-center"><%= test.test_group.position %></td>
        <td class="text-center"><%= test.position %></td>
        <td class="text-center"><%= test.visible_in_list? ? "Yes" : "No" %></td>
        <td class="text-center">
          <%= link_to 'Edit', edit_test_path(test) %><%= " | " if can?(:destroy, test) %>
          <%= destroy_link test %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
