<h1 style="float: left;">Listing tests&nbsp;&nbsp;<span style="font-size: 13px;"><%= link_to 'Add new Test', new_test_path %></span></h1>

<div class="clear"></div>

<table>
  <thead>
    <tr>
      <th>Loinc</th>
      <th>Test group</th>
      <th>Test code</th>
      <th>Test name</th>
      <th>Specimen source</th>
      <th>Group Index</th>
      <th>Index</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.loinc %></td>
        <td><%= test.test_group %></td>
        <td><%= test.test_code %></td>
        <td><%= test.test_name %></td>
        <td><%= test.specimen_source %></td>
        <td><%= test.group_index %></td>
        <td><%= test.index %></td>
        <td><%= link_to 'Edit', edit_test_path(test) %></td>
        <td><%= destroy_link test %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
