<!DOCTYPE html>
<html>
<head>
  <title>MedHealth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="hd">
    <div style="text-align: right; padding: 10px 50px 0px 50px;;">
      <% if user_signed_in? %>
        Welcome <%= current_user.firstname %> <%= current_user.lastname %>, <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        Welcome Guest, <%= link_to('Login', new_user_session_path) %>
      <% end %>
    </div>
    <h1 id="logo">
      Specimen Collection Center #101
      <h3>Med-Health Laboratories Ltd.</h3>
      <ul id="top-nav" class="top-nav">
      <li><%= link_to 'Tokens', tokens_path %></li>
      <li class="divider">|</li>
        <li><%= link_to 'Patients', root_path %></li>
        <li class="divider">|</li>
        <li><%= link_to 'Physicians', physicians_path %></li>
        <li class="divider">|</li>
        <li class="divider">|</li>
        <li><%= link_to 'Tests', tests_path %></li>
        <li class="divider">|</li>
        <li class="dropdown">
          <%= link_to 'Reports', reports_index_path %>
          <ul class="sub-menu">
            <li><%= link_to 'Token Waiting Reports', reports_index_path %></li>
            <li><%= link_to 'Test Statistics', reports_test_statistic_path %></li>
            <li><%= link_to 'Summary', reports_summary_path %></li>
            <li><%= link_to 'Patients by physician', reports_physician_patients_path %></li>
            <li><%= link_to 'Peak Time', reports_peak_time_path %></li>
          </ul>
        </li>
      </ul>
    </h1>
  </div>

  <div id="pg">
   <div id="bd">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

  <div id="ft">
    <p>
    <%= link_to 'Patients', root_path %> | <%= link_to 'Physicians', physicians_path %> | <%= link_to 'Tokens', tokens_path %> | <%= link_to 'Reports', reports_index_path %>  | <%= link_to 'Tests', tests_path %> | MedHealth App
    </p>

    <div id="dialog-confirm" style="display: none;" title="VERIFY PI INFORMATION ENTERED">
    <div id="patient-details">
      <h1 id="name">
        <span id="p_name"></span>
        <ul>
          <li>OHIP: <span id="p_ohip"></span>&nbsp;<span id="p_vc"></span></li>
          <li class="expire">Expires on: <span id="p_hed"></span></li>
        </ul>
      </h1>
      <h2 id="heading">
        <span id="p_gender"></span><br />
        Birthdate: <span id="p_bdate"></span>
      </h2>
      <div class="address-details">
        <div id="p_address" class="address">
        </div>
        <div id="p_contact" class="contact">
        </div>
        <div class="clear">
        </div>
      </div>
      <h3>Physician: <span id="p_physician"></span></h3>
      <h4>Visit date: <span id="p_visitdate"></span></h4>
      <h4>Payment program: <span id="p_payment_program"></span></h4>
      <hr />
      <h4>Tests:</h4>
      <table id="selected_tests"></table>
    </div>
    </div>
  </div>

</body>
</html>
