<!DOCTYPE html>
<html>
<head>
  <title>MedHealth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="hd">
    <h1 id="logo">
      MedHealth App
      <ul class="top-nav">
        <li><%= link_to 'Visits', visits_path %></li>
        <li>|</li>
        <li><%= link_to 'Patients', patients_path %></li>
        <li>|</li>
        <li><%= link_to 'Physicians', physicians_path %></li>
        <li>|</li>
        <li class="last"><%= link_to 'Tokens', tokens_path %></li>
      </ul>
    </h1>
  </div>

  <div id="pg">
   <div id="bd">
       <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </div>

  <div id="ft">
     <p>
      <%= link_to 'Visits', visits_path %> | <%= link_to 'Patients', patients_path %> | <%= link_to 'Physicians', physicians_path %> | MedHealth App
     </p>
  </div>

</body>
</html>
